<!-- templates/register.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrera användare</title>
</head>
<body>
<h2>Registrera</h2>
<form action="#" th:action="@{/users/register-form}" th:object="${user}" method="post">
    <div>
    Namn: <input type="text" th:field="*{name}"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>

    <div>
    E-post: <input type="email" th:field="*{email}"/>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <div>
    Lösenord: <input type="password" th:field="*{passwordHash}"/>
    <div th:if="${#fields.hasErrors('passwordHash')}" th:errors="*{passwordHash}"></div>
    </div>

    <button type="submit">Registrera</button>
</form>
<div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red"></div>

<a href="/users/login">Redan användare? Logga in</a>

</body>
</html>
